.btn-start {
    border: #4d5b9e;
    background-color: #4D5B9E;
    border-radius: 16px;
    width: 193px;
    height: 52px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 19px;
    color: aliceblue;
  
  }